body{
    background-image: url("./depositphotos_377407064-stock-photo-books-on-wooden-desk-table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
}
.nav{
    list-style: none;
    display: flex;
    text-decoration: none;
    /* margin: 40px; */
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
}
li a{
    text-align: center;
    padding: 16px;
}
a{
    color: white;
}
li button a{
    color: black;
    /* display: flex; */
}
button{
    color: black;
}
a:hover{
    color: red;
}